<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> test </title>
    <style>
        input {
        background-color:yellow;
        color:red;}
        h1{color:blue}
        body{background-color:lightpink}
    </style>
</head>
<body>
<h1> REGISTRATION FORM </h1>
<form action="register" method="post">
    {% csrf_token %}
    <input type="text"  name="username" placeholder="UserName" > <br>
    <input type="text" name="first_name" placeholder="Enter ur First Name"><br>
    <input type="text" name="last_name" placeholder="Enter ur Last Name"><br>
    <input type="email" name="email" placeholder="Enter ur mail id"><br>
    <input type="password" name="Password" placeholder="Enter password"><br>
    <input type="password" name="Password1" placeholder="Conform password"><br>
    <input type="submit">
</form>
{% for msg in messages %}
{{msg}}
{% endfor %}
</body>
</html>